---
import profile from "../utils/profile.png";

---
<header class="container">
  <div class="grid">
    <div>
      <p>Hey There 👋</p>
      <h1 style="margin: 0;">This is&nbsp;Milan Vala</h1>
      <p>Self Taught <code>Web Developer & Designer</code></p>
        <a href="mailto:valamilan44@gmail.com" role="button" class="primary">Contact</a>
    </div>
    <div>
        <img src={profile} style="border-radius: 10px;" />
    </div>
  </div>
</header>