
<nav class="container-fluid">
  <div></div>
  <ul>
    <li>
      <a href="https://github.com/Milanvvala">
        <img
          height="32"
          width="32"
          src="https://cdn.simpleicons.org/github/white"
        />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/valamilan">
        <img
          height="32"
          width="32"
          src="https://cdn.simpleicons.org/linkedin/white"
        />
      </a>
    </li>
  </ul>
</nav>
